.menu-container .handle {
    width: 15px;
    height: 15px;
    background: #ccc;
    position: absolute;
    top: 15px;
    right: -15px;
    cursor: move;
}

.menu-container form > ul li {
    background: #f5f5f5;
    overflow: inherit;
}

.menu-container form > ul li.ui-sortable-helper {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

.ui-sortable-placeholder {
    background: #f7ffd8 !important;
    visibility: visible !important;
}